@font-face {
    font-family: "Icon";
    font-size: normal;
    src: url('../resources/fonts/icon.svg') format('svg'),
        url('../resources/fonts/icon.ttf') format('ttf'),
        url('../resources/fonts/icon.woff') format('woff');
}

@font-face {
    font-family: "Ubuntu";
    font-size: normal;
    src: url("../resources/fonts/ubuntu.ttf");
}
