// Variables body
$body-bg: #e1e1e1;
$body-size: 14px;

// Variable logo
$logo-color: #09974c;

// Variable Navigation
$nav-bg: #1f1f21;
$nav-width: 250px;
$nav-color: #777777;
$nav-title-bg: #18181a;
